body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}
h1 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.file-label {
    display: block;
    background-color: #ddd;
    color: #222;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.file-input {
    display: none;
}

button {
    width: 100%;
    /* background-color: #8ad36a; */
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    /* cursor: pointer; */
    transition: opacity 0.3s;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.message {
    margin-top: 20px;
    color: green;
}